* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #020617;
  background-image:
    radial-gradient(at 0% 0%, rgba(79, 70, 229, 0.15) 0px, transparent 50%),
    radial-gradient(at 100% 0%, rgba(124, 58, 237, 0.15) 0px, transparent 50%),
    radial-gradient(at 100% 100%, rgba(37, 99, 235, 0.15) 0px, transparent 50%),
    radial-gradient(at 0% 100%, rgba(219, 39, 119, 0.1) 0px, transparent 50%);
  padding: 10px;
  position: relative;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
.nav {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  height: 60px;
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: (16px);
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 20px;
  padding: 5px 20px;
}
.nav img {
  height: 50px;
}
.app {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  transition: bottom 0.2s ease;
}
.title {
  position: absolute;
  top: -40%;
  white-space: nowrap;
  display: none;
  font-size: 12px;
  color: azure;
}
.app:hover {
  bottom: 5px;
  scale: 1.2;
  margin: 0 5px;
}
.app:hover .title {
  display: inline;
}
