:root {
  --glass-bg: #ffffff08;
  --glass-border: #ffffff72;
  --glass-head: #767785;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #020617;
  background-image:
    radial-gradient(at 0% 0%, rgba(79, 70, 229, 0.15) 0px, transparent 50%),
    radial-gradient(at 100% 0%, rgba(124, 58, 237, 0.15) 0px, transparent 50%),
    radial-gradient(at 100% 100%, rgba(37, 99, 235, 0.15) 0px, transparent 50%),
    radial-gradient(at 0% 100%, rgba(219, 39, 119, 0.1) 0px, transparent 50%);
  padding: 10px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
.nav {
  position: absolute;
  z-index: 999;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  height: 60px;
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid var(--glass-border);
  background-color: var(--glass-bg);
  backdrop-filter: (16px);
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 20px;
  padding: 5px 20px;
}
.nav img {
  height: 50px;
}
.nav-hide {
  display: none;
}
.appIcon {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  transition: bottom 0.2s ease;
}
.title {
  position: absolute;
  top: -50%;
  white-space: nowrap;
  display: none;
  font-size: 12px;
  color: azure;
}

.desktop {
  position: relative;
  height: 100%;
  width: 100%;
}
.desktop-window {
  width: 600px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  border-radius: 10px;
  border: 1px solid var(--glass-border);
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  background-color: var(--glass-head);
  backdrop-filter: blur(10px);
}
#about-window {
  z-index: 1;
}
#project-window {
  z-index: 1;
}
#skills-window {
  z-index: 1;
}
.window-header {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.manage-btn {
  display: flex;
  gap: 10px;
  padding-left: 10px;
}
.btn {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn img {
  height: 12px;
}
.close {
  background-color: #ff5c5f;
}
.minimize {
  background-color: #fac800;
}
.maximize {
  background-color: #34c759;
}

.window-body {
  height: calc(100% - 30px);
  padding: 20px;
  overflow-y: scroll;
  background-color: antiquewhite;
  border-radius: 10px;
}
