:root {
  --bg-off: #000;
  --bg-app: #020617;
  --bg-header: #0a0e17;
  --bg-card: #1e293bb3;
  --bg-logo: #f8fafc;
  --bg-nav: #ffffff11;
  --border-subtle: #94a3b840;
  --text-main: #f8fafc;
  --text-muted: #38bdf8;
  --text-dark: #64748b;
  --text-highlight: #fbbf24;
  --accent-primary: linear-gradient(135deg, #403851, #241838, #9e36b2, #5c69a5);
  --accent-glow: #6366f166;
  --status-green: #10b981;
  --status-yellow: #f59e0b;
  --status-red: #ef4444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-app);
  user-select: none;
}
.desktop-boot {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: var(--bg-off);
  z-index: 9999;
  opacity: 1;
}
.startbtn {
  background-color: var(--accent-glow);
  color: var(--text-main);
  border: 2px solid var(--border-subtle);
  border-radius: 10px;
  padding: 5px 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  cursor: pointer;
  user-select: none;
  z-index: 10000;
}
.logo {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  background-color: var(--bg-logo);
  overflow: hidden;
  border-radius: 50%;
  border: 0.1px solid var(--border-subtle);
  opacity: 0;
}
.logo img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.os-name {
  font-size: 48px;
  color: var(--text-main);
  position: absolute;
  top: 55%;
  left: 44%;
  transform: translate(-50%, -50%);
  opacity: 0;
  scale: 0.2;
}
.wrapper {
  position: relative;
  top: -100%;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-app);
  background-image:
    radial-gradient(at 0% 0%, rgba(79, 70, 229, 0.15) 0px, transparent 50%),
    radial-gradient(at 100% 0%, rgba(124, 58, 237, 0.15) 0px, transparent 50%),
    radial-gradient(at 100% 100%, rgba(37, 99, 235, 0.15) 0px, transparent 50%),
    radial-gradient(at 0% 100%, rgba(219, 39, 119, 0.1) 0px, transparent 50%);
  padding: 10px;
}

.nav {
  position: absolute;
  z-index: 999;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  height: 60px;
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid var(--border-subtle);
  background-color: var(--bg-nav);
  backdrop-filter: (16px);
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 20px;
  padding: 5px 20px;
}
.nav img {
  height: 50px;
}
.nav-hide {
  display: none;
}
.appIcon {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  transition: bottom 0.2s ease;
}
.border {
  border-bottom: 2px solid var(--border-subtle);
}
.title {
  position: absolute;
  top: -50%;
  white-space: nowrap;
  display: none;
  font-size: 12px;
  color: var(--text-main);
}

.desktop {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.desktop-window {
  width: 600px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  border-radius: 10px;
  border: 1px solid var(--border-subtle);
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  background-color: var(--bg-header);
  backdrop-filter: blur(10px);
  overflow: hidden;
}
#about-window {
  z-index: 1;
}
#project-window {
  z-index: 1;
}
#skills-window {
  z-index: 1;
}
.window-header {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.manage-btn {
  display: flex;
  gap: 10px;
  padding-left: 10px;
}

.btn {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn img {
  height: 12px;
}
.close {
  background-color: var(--status-red);
}
.minimize {
  background-color: var(--status-yellow);
}
.maximize {
  background-color: var(--status-green);
}

.about-body {
  position: relative;
  height: calc(100% - 30px);
  width: 100%;
  border-radius: 10px;
  background-color: var(--bg-card);
  overflow-y: scroll;
  color: var(--text-main);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100% 100%;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.info {
  padding-left: 150px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  scroll-snap-align: start;
}
.greetings {
  font-size: 100px;
  color: var(--text-main);
}
.profession {
  font-size: 46px;
  background: -webkit-linear-gradient(145deg, #38bdf8, #fbbf24);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tile {
  margin-top: 30px;
  font-size: 18px;
  line-height: 35px;
  color: var(--text-dark);
}
.profile {
  scroll-snap-align: start;
  overflow: hidden;
}
.profile img {
  height: 100%;
}
.about-more {
  scroll-snap-align: start;
  background-color: var(--bg-app);
  grid-column: span 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.about-more h1 {
  background: -webkit-linear-gradient(145deg, #38bdf8, #fbbf24);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-more p {
  width: 70%;
  text-align: center;
  line-height: 30px;
  color: var(--text-dark);
}
.tech-stack {
  height: 10%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.tech {
  height: 70px;
  width: 70px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .tech:hover .tech-img {
  scale: 1.2;
} */

.tech-img {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  /* transition: scale 0.5s ease; */
}

.social-profiles {
  height: 100%;
  width: 100%;
  background-color: #38bdf8;
}
